body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("images/admin-login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.login-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 60%;
    max-width: 900px;
}

.login-left {
    background-image:url("images/login-left.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login-left img {
    max-width: 100%;
    border-radius: 10px;
}

.login-right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #66b2ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3399ff;
}
