.form-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.input-group input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"], input[type="date"], input[type="time"] {
    width: calc(100% - 20px); /* Make it full-width, less padding */
}

.submit-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #cfe2ff;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #bdd1f5;
}
