{% extends 'Admin/base.html' %}
{% load static %}
{% block title %}Admin Dashboard - Home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'Admin/css/home.css' %}">{% endblock %}
{% block content %}

<!-- welcome text div -->
<div class="welcometxt">
    <form method="POST" action="{% url 'admin:admin_dashboard' %}">
        {% csrf_token %}
        <button type="submit" id="update_btn">Update Elections</button>
    </form>
</div>

<!-- Include SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% if message %}
        Swal.fire({
            icon: "{% if 'successfully' in message %}success{% else %}error{% endif %}",
            title: "{% if 'successfully' in message %}Success{% else %}Error{% endif %}",
            text: "{{ message }}"
        });
   {% endif %}
</script>


<!-- ongoing election div-->
<div class="container">
    <div class="main-content">
        <h2>Ongoing Election</h2>
        {% for election in elections %}
        <div class="election-section">
            <h3>{{ election.title }}</h3>
            <div class="candidates-grid">
                {% for candidate in election.candidates.all %}
                <div class="candidate-column">
                    <div class="candidate-card">
                        <img src="{{ candidate.image}}" alt="{{ candidate.name }}">
                        <h4>{{ candidate.name }}</h4>
                        <p class="vote-count">Total votes:
                            <span id="votes-{{ candidate.id }}">{{ candidate.votes }}</span>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="chart-container">
                <canvas id="voteChart-{{ election.id }}"></canvas>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'Admin/js/vote_script.js'%}"></script>
{% endblock %}
