{% extends 'Admin/base.html' %}
{% load static %}
{% block title %}Admin Dashboard - Home{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'Admin/css/home.css' %}">{% endblock %}
{% block content %}

    <!-- welcome text div -->
    <div class="welcometxt">
        <h2>Welcome</h2>
    </div>


    <!-- ongoing election div-->
    <div class="container">
        <div class="main-content">
            <h2>Ongoing Election</h2>
            <div class="carousel">
                {% for election in elections %}
                <div class="carousel-item">
                    <h3>{{ election.title }}</h3>
                    <div class="election-info">
                        {% for candidate in election.candidates.all %}
                        <div class="candidate">
                            <img src="{{ candidate.photo.url }}" alt="{{ candidate.name }}">
                            <p>{{ candidate.name }}</p>
                            <p>Total votes: <span id="votes-{{ candidate.id }}">{{ candidate.votes }}</span></p>
                        </div>
                        {% endfor %}
                    </div>
                    <canvas id="voteChart-{{ election.id }}"></canvas>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'Admin/js/vote_script.js'%}"></script>
{% endblock %}
