{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - BioVote Secure</title>
    <link rel="stylesheet" href="{% static 'Admin/css/login.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="login-container">

    <div class="login-left">
        <!-- <img src="{% static 'admin/images/login-left.png' %}" alt="img"> -->
    </div>
    <div class="login-right">
        <h2>Login</h2>
        <form method="POST" action="{% url 'admin:admin_login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>
