{% extends "admin/base.html" %}
{% load static %}

{% block title %}Register Elections{% endblock %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'Admin/css/reg_election.css'%}">
{% endblock %}
<div class="form-container">
    <form method="POST" action="{% url 'admin:register_election' %}">
        {% csrf_token %}
        <h2>Register Elections:</h2>
        <div class="input-group">
            <input type="text" name="election_name" placeholder="Election Name" required>
        </div>
        <div class="input-group">
            <input type="date" name="start_date" placeholder="Start date" required>
            <input type="date" name="end_date" placeholder="End date" required>
        </div>
        <div class="input-group">
            <input type="time" name="start_time" placeholder="Start Time" required>
            <input type="time" name="end_time" placeholder="End Time" required>
        </div>
        <button type="submit" class="submit-btn">ADD</button>
    </form>
</div>
{% endblock %}
