{% extends 'Admin/base.html' %}
{% load static %}
{% block title %}Fingerprint Capture{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'Admin/css/bootstrap-min.css' %}">
<link rel="stylesheet" href="{% static 'Admin/css/app.css' %}">
{% endblock %}

{% block content %}
<div class="Container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: white;">Fingerprint WebAPI</a>
            </div>
            <ul class="nav navbar-nav">
                <li id="Reader" class="active">
                    <a href="#" style="color: white;"
                       onclick="toggle_visibility(['content-reader', 'content-capture']);setActive('Reader', 'Capture')">
                        Reader
                    </a>
                </li>
                <li id="Capture">
                    <a href="#" style="color: white;"
                       onclick="toggle_visibility(['content-capture', 'content-reader']);setActive('Capture', 'Reader')">
                        Capture
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="Scores">
        <h5>Scan Quality : <input type="text" id="qualityInputBox" size="20"
                                  style="background-color:#DCDCDC;text-align:center;"></h5>
        {% csrf_token %}
        <div>
            <label for="voter">Select Voter:</label>
            <select name="voter_id" id="voter" style="width: 80%;" onchange="displayVoterDetails()">
                <option value="">--SELECT--</option>
                {% for voter in voters %}
                <option value="{{ voter.id }}"
                        data-name="{{ voter.name }}"
                        data-address="{{ voter.address }}"
                        data-dob="{{ voter.dob }}"
                        data-email="{{ voter.email }}"
                        data-image="{{ voter.profile_image }}">
                    {{ voter.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Voter Details -->
        <div id="voterDetails" style="margin-top: 20px;">
            <div id="left-column">
                <h4>Voter Details</h4>
                <p><strong>Name:</strong> <span id="voterName"></span></p>
                <p><strong>Address:</strong> <span id="voterAddress"></span></p>
                <p><strong>Date of Birth:</strong> <span id="voterDob"></span></p>
                <p><strong>Email:</strong> <span id="voterEmail"></span></p>
            </div>
            <div id="right-column">
                <img src="" id="voterImage" alt="Voter Image" style="max-width: 100%; height: auto;">
            </div>
        </div>


    </div>

    <div id="content-capture" style="display : none;">
        <div id="status"></div>
        <div id="imagediv"></div>
        <div id="contentButtons">
            <table width=70% align="center">
                <tr>
                    <td>
                        <input type="button" class="btn btn-primary" id="clearButton" value="Clear"
                               onclick="Javascript:onClear()">
                    </td>
                    <td data-toggle="tooltip" title="Will work with the .png format.">
                        <input type="button" class="btn btn-primary" id="save" value="Save">
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" id="start" value="Start"
                               onclick="Javascript:onStart()">
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" id="stop" value="Stop"
                               onclick="Javascript:onStop()">
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" id="info" value="Info"
                               onclick="Javascript:onGetInfo()">
                    </td>
            </table>
        </div>

        <div id="imageGallery">
        </div>
        <div id="deviceInfo">
        </div>

        <div id="saveAndFormats">

            <form name="myForm" style="border : solid grey;padding:5px;">

                <b>Acquire Formats :</b><br>
                <table>
                    <tr data-toggle="tooltip" title="Will save data to a .raw file.">
                        <td>
                            <input type="checkbox" name="Raw" value="1" onclick="checkOnly(this)"> RAW <br>
                        </td>
                    </tr>
                    <tr data-toggle="tooltip" title="Will save data to a Intermediate file">
                        <td>
                            <input type="checkbox" name="Intermediate" value="2" onclick="checkOnly(this)"> Feature
                            Set<br>
                        </td>
                    </tr>
                    <tr data-toggle="tooltip" title="Will save data to a .wsq file.">
                        <td>
                            <input type="checkbox" name="Compressed" value="3" onclick="checkOnly(this)"> WSQ<br>
                        </td>
                    </tr>
                    <tr data-toggle="tooltip" title="Will save data to a .png file.">
                        <td>
                            <input type="checkbox" name="PngImage" checked="true" value="4" onclick="checkOnly(this)">
                            PNG
                        </td>
                    </tr>
                </table>
            </form>
            <br>
            <input type="button" class="btn btn-primary" id="saveImagePng" value="Export"
                   onclick="Javascript:onImageDownload()">
        </div>

    </div>

    <div id="content-reader">
        <h4>Select Reader :</h4>
        <select class="form-control" id="readersDropDown" onchange="selectChangeEvent()">
        </select>
        <div id="readerDivButtons">
            <table width=70% align="center">
                <tr>
                    <td>
                        <input type="button" class="btn btn-primary" id="refreshList" value="Refresh List"
                               onclick="Javascript:readersDropDownPopulate(false)">
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" id="capabilities" value="Capabilities"
                               data-toggle="modal" data-target="#myModal" onclick="Javascript:populatePopUpModal()">
                    </td>
                </tr>
            </table>

            <!-- Modal - Pop Up window content-->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content -->
                    <div class="modal-content" id="modalContent">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Reader Information</h4>
                        </div>
                        <div class="modal-body" id="ReaderInformationFromDropDown">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<style>
   #voterDetails {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    }

    #left-column {
        flex: 1;
    }

    #right-column {
        flex: 1;
        text-align: center;
    }

    #right-column img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

</style>
<script src="{% static 'Admin/lib/jquery.min.js' %}"></script>
<script src="{% static 'Admin/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'Admin/js/es6-shim.js' %}"></script>
<script src="{% static 'Admin/js/websdk.client.bundle.min.js' %}"></script>
<script src="{% static 'Admin/js/fingerprint.sdk.min.js' %}"></script>
<script src="{% static 'Admin/js/app.js' %}"></script>
<script>
    function displayVoterDetails() {
        const voterSelect = document.getElementById("voter");
        const voterDetailsDiv = document.getElementById("voterDetails");

        const selectedOption = voterSelect.options[voterSelect.selectedIndex];
        const voterName = selectedOption.getAttribute("data-name");
        const voterAddress = selectedOption.getAttribute("data-address");
        const voterDob = selectedOption.getAttribute("data-dob");
        const voterEmail = selectedOption.getAttribute("data-email");
        const voterImage = selectedOption.getAttribute('data-image')

        if (voterName) {
            const baseUrl = window.location.origin;
            const voterImagePath = `${baseUrl}/media/`;

            document.getElementById("voterName").innerText = voterName;
            document.getElementById("voterAddress").innerText = voterAddress;
            document.getElementById("voterDob").innerText = voterDob;
            document.getElementById("voterEmail").innerText = voterEmail;
            document.getElementById("voterImage").src = voterImagePath + voterImage;
            voterDetailsDiv.style.display = "flex";
        } else {
            voterDetailsDiv.style.display = "none";
        }
    }
</script>

{% endblock %}

